In [92]:
import pandas as pd

In [123]:
#distance between two points in the interval [0,1] the "long way" (ie, distance moving from b
#to a passing through 1.0 (assuming b > a). 

def wrapDist(a, b):
    return (1.0-b)+a

#decide whether points in an orbit are contained ina  semi-circle (which makes it Sturmian)
#here this is decided by conjugate orbit as rationals in the unit interval [0,1]
#and seeing if they are contained within a closed interval (mod 1) of length 
#less than .5

def isSturmian(orbit, denom):
    ascOrbit = sorted(orbit)
    #print(ascOrbit)
    spread = 1.0
    period = len(ascOrbit)
    
    spread = (ascOrbit[period-1] - ascOrbit[0])/denom 
    
    if spread <= .5:
        return True
    else:
        for i in range(len(ascOrbit)):
            spread = wrapDist(((ascOrbit[i])/denom), (ascOrbit[(i+1)%(period)])/denom)
            if spread <=.5:
                return True 
        return False

In [143]:
#function caculates the periodic points of the doubling map
#that have period n

def calc_pOrbits(n): 
    orbit = [] #single list for a single orbit
    orbitList = [] #this will be a list of orbits (list of lists)
    pp_denom = 2**n - 1
    
    num_points = pp_denom
    num_points_so_far = 0
    
    num_list = set([]) #store elements in a set to guarentee uniqueness
    
    for x in range(0, num_points-1, n):
        pp_num = 1
        while pp_num in num_list: #only try numerators that have not been used yet
            pp_num += 1
            
        num_list.add(pp_num)
        
        orbit_start = pp_num
        orbit = []
        orbit.append(orbit_start)
        num_points_so_far +=1
        
        for y in range(1, n): 
            orbit.append((pp_num*2)%pp_denom)
            pp_num = (pp_num*2)%pp_denom
            num_list.add(pp_num)
            num_points_so_far +=1
      
        orbitSet = set(orbit)
        
        #identify duplicate orbits... ie, we'll find orbits of lower period 
        #in higher periods. ie, we might have period 2 orbits appearing as period 4 orbits
        #here we filter out if there are non unique points in the "orbit"
        
        if (len(orbitSet) != len(orbit)):
            #orbit = ["DUPE"]
            orbit.insert(0, "DUPE") #add "DUPE" in the dataframe to indicate duplicate orbit
        
        else: 
            orbit.insert(0, isSturmian(orbit, pp_denom))
        orbit.insert(0, pp_denom)
        orbit.insert(0, n)
        
        orbitList.append(orbit)   
        
    return orbitList

In [149]:
calc_pOrbits(3) #testing function. first three items in list are "period," "denom," and "sturmian?"

[[3, 7, True, 1, 2, 4], [3, 7, True, 3, 6, 5]]

In [139]:
#push a list of orbits of a given period into a pandas dataframe
def orbitChart(n):
    orbitN = calc_pOrbits(n)
  
    orbitTable = pd.DataFrame(calc_pOrbits(n))
    #orbitTable = orbitTable.astype(str) + '/{}'.format(2**n-1) 
    return orbitTable

In [150]:
test = orbitChart(5) ##testing this method
test

   0   1      2   3   4   5   6   7
0  5  31   True   1   2   4   8  16
1  5  31  False   3   6  12  24  17
2  5  31   True   5  10  20   9  18
3  5  31  False   7  14  28  25  19
4  5  31   True  11  22  13  26  21
5  5  31   True  15  30  29  27  23

In [147]:
# make a table of all orbits up between period 2 and 5
orbitList = []
for x in range(2, 6):
    orbitList.append(orbitChart(x))
orbitTab = pd.concat(orbitList, ignore_index=True)
orbitTab.rename(columns={0:'period', 1: 'denom', 2: 'Sturmian?'}, inplace=True)

#renumber/name columns to be 
for x in range(3, 12):
    orbitTab.rename(columns={x: 'f{}'.format(x-3)}, inplace=True)
orbitTab

    period  denom Sturmian?  f0  f1    f2    f3    f4
0        2      3      True   1   2   NaN   NaN   NaN
1        3      7      True   1   2   4.0   NaN   NaN
2        3      7      True   3   6   5.0   NaN   NaN
3        4     15      True   1   2   4.0   8.0   NaN
4        4     15     False   3   6  12.0   9.0   NaN
5        4     15      DUPE   5  10   5.0  10.0   NaN
6        4     15      True   7  14  13.0  11.0   NaN
7        5     31      True   1   2   4.0   8.0  16.0
8        5     31     False   3   6  12.0  24.0  17.0
9        5     31      True   5  10  20.0   9.0  18.0
10       5     31     False   7  14  28.0  25.0  19.0
11       5     31      True  11  22  13.0  26.0  21.0
12       5     31      True  15  30  29.0  27.0  23.0

In [152]:
#function to generate a table of periodic orbits, ranging from period min to max
def OrbitTable(min, max):
    orbitList = []
    for x in range(min, max+1):
        orbitList.append(orbitChart(x))
    orbitTab = pd.concat(orbitList, ignore_index=True)
    orbitTab.rename(columns={0:'period', 1: 'denom', 2: 'sturmian'}, inplace=True)

    #renumber/name columns to be 
    for x in range(3, 12):
        orbitTab.rename(columns={x: 'f{}'.format(x-3)}, inplace=True)
    return orbitTab

In [157]:
OT = OrbitTable(1, 12) #generate table of Orbits of desired range of periods
OT

,period,denom,sturmian,f0,f1,f2,f3,f4,f5,f6,f7,f8,12,13,14
0,2,3,True,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,7,True,1,2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,7,True,3,6,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,15,True,1,2,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15,False,3,6,12.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,15,DUPE,5,10,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4,15,True,7,14,13.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5,31,True,1,2,4.0,8.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,5,31,False,3,6,12.0,24.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5,31,True,5,10,20.0,9.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,5,31,False,7,14,28.0,25.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,31,True,11,22,13.0,26.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5,31,True,15,30,29.0,27.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,63,True,1,2,4.0,8.0,16.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN
14,6,63,False,3,6,12.0,24.0,48.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN
15,6,63,False,5,10,20.0,40.0,17.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN
16,6,63,False,7,14,28.0,56.0,49.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN
17,6,63,DUPE,9,18,36.0,9.0,18.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN
18,6,63,False,11,22,44.0,25.0,50.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN
19,6,63,False,13,26,52.0,41.0,19.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN
20,6,63,False,15,30,60.0,57.0,51.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN
21,6,63,DUPE,21,42,21.0,42.0,21.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN
22,6,63,False,23,46,29.0,58.0,53.0,43.0,NaN,NaN,NaN,NaN,NaN,NaN
23,6,63,DUPE,27,54,45.0,27.0,54.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
24,7,127,True,1,2,4.0,8.0,16.0,32.0,64.0,NaN,NaN,NaN,NaN,NaN
25,7,127,False,3,6,12.0,24.0,48.0,96.0,65.0,NaN,NaN,NaN,NaN,NaN
26,7,127,False,5,10,20.0,40.0,80.0,33.0,66.0,NaN,NaN,NaN,NaN,NaN
27,7,127,False,7,14,28.0,56.0,112.0,97.0,67.0,NaN,NaN,NaN,NaN,NaN
28,7,127,True,9,18,36.0,72.0,17.0,34.0,68.0,NaN,NaN,NaN,NaN,NaN
29,7,127,False,11,22,44.0,88.0,49.0,98.0,69.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,12,4095,False,1003,2006,4012.0,3929.0,3763.0,3431.0,2767.0,1439.0,2878.0,1661.0,3322.0,2549.0
733,12,4095,False,1005,2010,4020.0,3945.0,3795.0,3495.0,2895.0,1695.0,3390.0,2685.0,1275.0,2550.0
734,12,4095,False,1007,2014,4028.0,3961.0,3827.0,3559.0,3023.0,1951.0,3902.0,3709.0,3323.0,2551.0
735,12,4095,False,1013,2026,4052.0,4009.0,3923.0,3751.0,3407.0,2719.0,1343.0,2686.0,1277.0,2554.0
736,12,4095,False,1015,2030,4060.0,4025.0,3955.0,3815.0,3535.0,2975.0,1855.0,3710.0,3325.0,2555.0
737,12,4095,False,1019,2038,4076.0,4057.0,4019.0,3943.0,3791.0,3487.0,2879.0,1663.0,3326.0,2557.0
738,12,4095,False,1021,2042,4084.0,4073.0,4051.0,4007.0,3919.0,3743.0,3391.0,2687.0,1279.0,2558.0
739,12,4095,False,1023,2046,4092.0,4089.0,4083.0,4071.0,4047.0,3999.0,3903.0,3711.0,3327.0,2559.0
740,12,4095,DUPE,1365,2730,1365.0,2730.0,1365.0,2730.0,1365.0,2730.0,1365.0,2730.0,1365.0,2730.0
741,12,4095,False,1367,2734,1373.0,2746.0,1397.0,2794.0,1493.0,2986.0,1877.0,3754.0,3413.0,2731.0
742,12,4095,False,1371,2742,1389.0,2778.0,1461.0,2922.0,1749.0,3498.0,2901.0,1707.0,3414.0,2733.0
743,12,4095,False,1375,2750,1405.0,2810.0,1525.0,3050.0,2005.0,4010.0,3925.0,3755.0,3415.0,2735.0
744,12,4095,True,1387,2774,1453.0,2906.0,1717.0,3434.0,2773.0,1451.0,2902.0,1709.0,3418.0,2741.0
745,12,4095,False,1391,2782,1469.0,2938.0,1781.0,3562.0,3029.0,1963.0,3926.0,3757.0,3419.0,2743.0
746,12,4095,False,1399,2798,1501.0,3002.0,1909.0,3818.0,3541.0,2987.0,1879.0,3758.0,3421.0,2747.0
747,12,4095,False,1403,2806,1517.0,3034.0,1973.0,3946.0,3797.0,3499.0,2903.0,1711.0,3422.0,2749.0
748,12,4095,False,1407,2814,1533.0,3066.0,2037.0,4074.0,4053.0,4011.0,3927.0,3759.0,3423.0,2751.0
749,12,4095,False,1455,2910,1725.0,3450.0,2805.0,1515.0,3030.0,1965.0,3930.0,3765.0,3435.0,2775.0
750,12,4095,False,1463,2926,1757.0,3514.0,2933.0,1771.0,3542.0,2989.0,1883.0,3766.0,3437.0,2779.0
751,12,4095,False,1467,2934,1773.0,3546.0,2997.0,1899.0,3798.0,3501.0,2907.0,1719.0,3438.0,2781.0
752,12,4095,False,1471,2942,1789.0,3578.0,3061.0,2027.0,4054.0,4013.0,3931.0,3767.0,3439.0,2783.0
753,12,4095,DUPE,1495,2990,1885.0,3770.0,3445.0,2795.0,1495.0,2990.0,1885.0,3770.0,3445.0,2795.0
754,12,4095,False,1499,2998,1901.0,3802.0,3509.0,2923.0,1751.0,3502.0,2909.0,1723.0,3446.0,2797.0
755,12,4095,False,1503,3006,1917.0,3834.0,3573.0,3051.0,2007.0,4014.0,3933.0,3771.0,3447.0,2799.0
756,12,4095,False,1519,3038,1981.0,3962.0,3829.0,3563.0,3031.0,1967.0,3934.0,3773.0,3451.0,2807.0
757,12,4095,False,1527,3054,2013.0,4026.0,3957.0,3819.0,3543.0,2991.0,1887.0,3774.0,3453.0,2811.0
758,12,4095,False,1531,3062,2029.0,4058.0,4021.0,3947.0,3799.0,3503.0,2911.0,1727.0,3454.0,2813.0
759,12,4095,False,1535,3070,2045.0,4090.0,4085.0,4075.0,4055.0,4015.0,3935.0,3775.0,3455.0,2815.0
760,12,4095,DUPE,1755,3510,2925.0,1755.0,3510.0,2925.0,1755.0,3510.0,2925.0,1755.0,3510.0,2925.0
761,12,4095,False,1759,3518,2941.0,1787.0,3574.0,3053.0,2011.0,4022.0,3949.0,3803.0,3511.0,2927.0

In [158]:
#filter out duplicate orbits:
OT.sample(10)

,period,denom,sturmian,f0,f1,f2,f3,f4,f5,f6,f7,f8,12,13,14
190,10,1023,False,147,294,588.0,153.0,306.0,612.0,201.0,402.0,804.0,585.0,NaN,NaN
584,12,4095,False,367,734,1468.0,2936.0,1777.0,3554.0,3013.0,1931.0,3862.0,3629.0,3163.0,2231.0
69,8,255,DUPE,85,170,85.0,170.0,85.0,170.0,85.0,170.0,NaN,NaN,NaN,NaN
686,12,4095,False,749,1498,2996.0,1897.0,3794.0,3493.0,2891.0,1687.0,3374.0,2653.0,1211.0,2422.0
386,11,2047,False,445,890,1780.0,1513.0,979.0,1958.0,1869.0,1691.0,1335.0,623.0,1246.0,NaN
345,11,2047,False,255,510,1020.0,2040.0,2033.0,2019.0,1991.0,1935.0,1823.0,1599.0,1151.0,NaN
39,7,127,False,47,94,61.0,122.0,117.0,107.0,87.0,NaN,NaN,NaN,NaN,NaN
310,11,2047,False,169,338,676.0,1352.0,657.0,1314.0,581.0,1162.0,277.0,554.0,1108.0,NaN
536,12,4095,False,243,486,972.0,1944.0,3888.0,3681.0,3267.0,2439.0,783.0,1566.0,3132.0,2169.0
137,10,1023,False,13,26,52.0,104.0,208.0,416.0,832.0,641.0,259.0,518.0,NaN,NaN

In [166]:
#filter out duplicate orbits
noDupes = OT['sturmian']!='DUPE'

filteredOT = OT[noDupes]

#filter out non-sturmian orbits
filteredOT = filteredOT[filteredOT['sturmian']==True]

filteredOT

,period,denom,sturmian,f0,f1,f2,f3,f4,f5,f6,f7,f8,12,13,14
0,2,3,True,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,7,True,1,2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,7,True,3,6,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,15,True,1,2,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4,15,True,7,14,13.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5,31,True,1,2,4.0,8.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5,31,True,5,10,20.0,9.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,31,True,11,22,13.0,26.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5,31,True,15,30,29.0,27.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,63,True,1,2,4.0,8.0,16.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN
24,7,127,True,1,2,4.0,8.0,16.0,32.0,64.0,NaN,NaN,NaN,NaN,NaN
28,7,127,True,9,18,36.0,72.0,17.0,34.0,68.0,NaN,NaN,NaN,NaN,NaN
33,7,127,True,21,42,84.0,41.0,82.0,37.0,74.0,NaN,NaN,NaN,NaN,NaN
38,7,127,True,43,86,45.0,90.0,53.0,106.0,85.0,NaN,NaN,NaN,NaN,NaN
40,7,127,True,55,110,93.0,59.0,118.0,109.0,91.0,NaN,NaN,NaN,NaN,NaN
41,7,127,True,63,126,125.0,123.0,119.0,111.0,95.0,NaN,NaN,NaN,NaN,NaN
42,8,255,True,1,2,4.0,8.0,16.0,32.0,64.0,128.0,NaN,NaN,NaN,NaN
58,8,255,True,37,74,148.0,41.0,82.0,164.0,73.0,146.0,NaN,NaN,NaN,NaN
71,8,255,True,91,182,109.0,218.0,181.0,107.0,214.0,173.0,NaN,NaN,NaN,NaN
74,9,511,True,1,2,4.0,8.0,16.0,32.0,64.0,128.0,256.0,NaN,NaN,NaN
82,9,511,True,17,34,68.0,136.0,272.0,33.0,66.0,132.0,264.0,NaN,NaN,NaN
109,9,511,True,85,170,340.0,169.0,338.0,165.0,330.0,149.0,298.0,NaN,NaN,NaN
123,9,511,True,171,342,173.0,346.0,181.0,362.0,213.0,426.0,341.0,NaN,NaN,NaN
130,9,511,True,239,478,445.0,379.0,247.0,494.0,477.0,443.0,375.0,NaN,NaN,NaN
131,10,1023,True,1,2,4.0,8.0,16.0,32.0,64.0,128.0,256.0,512.0,NaN,NaN
165,10,1023,True,73,146,292.0,584.0,145.0,290.0,580.0,137.0,274.0,548.0,NaN,NaN
232,10,1023,True,439,878,733.0,443.0,886.0,749.0,475.0,950.0,877.0,731.0,NaN,NaN
234,11,2047,True,1,2,4.0,8.0,16.0,32.0,64.0,128.0,256.0,512.0,1024.0,NaN
250,11,2047,True,33,66,132.0,264.0,528.0,1056.0,65.0,130.0,260.0,520.0,1040.0,NaN
296,11,2047,True,137,274,548.0,1096.0,145.0,290.0,580.0,1160.0,273.0,546.0,1092.0,NaN
346,11,2047,True,293,586,1172.0,297.0,594.0,1188.0,329.0,658.0,1316.0,585.0,1170.0,NaN
361,11,2047,True,341,682,1364.0,681.0,1362.0,677.0,1354.0,661.0,1322.0,597.0,1194.0,NaN
402,11,2047,True,683,1366,685.0,1370.0,693.0,1386.0,725.0,1450.0,853.0,1706.0,1365.0,NaN
408,11,2047,True,731,1462,877.0,1754.0,1461.0,875.0,1750.0,1453.0,859.0,1718.0,1389.0,NaN
415,11,2047,True,887,1774,1501.0,955.0,1910.0,1773.0,1499.0,951.0,1902.0,1757.0,1467.0,NaN
418,11,2047,True,991,1982,1917.0,1787.0,1527.0,1007.0,2014.0,1981.0,1915.0,1783.0,1519.0,NaN
419,11,2047,True,1023,2046,2045.0,2043.0,2039.0,2031.0,2015.0,1983.0,1919.0,1791.0,1535.0,NaN
420,12,4095,True,1,2,4.0,8.0,16.0,32.0,64.0,128.0,256.0,512.0,1024.0,2048.0
660,12,4095,True,661,1322,2644.0,1193.0,2386.0,677.0,1354.0,2708.0,1321.0,2642.0,1189.0,2378.0
744,12,4095,True,1387,2774,1453.0,2906.0,1717.0,3434.0,2773.0,1451.0,2902.0,1709.0,3418.0,2741.0